@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --primary: rgb(0, 130, 241);
  --primary-light: rgb(152, 188, 247);
  --primary-dark: rgb(17, 115, 235);

  --dark: rgb(18, 18, 18);
  --dark-1: rgb(28, 32, 36);
  --dark-fade: rgba(0, 0, 0, 0.5);

  --light: rgb(255, 255, 255);
  --light-1: rgb(247, 247, 247);
  --light-2: rgb(238, 238, 238);

  --font: 'Poppins', sans-serif;
}

body {
  background-color: var(--light);
  font-family: var(--font);
  color: var(--dark);
}

section .info {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  gap: 0.7rem;
}

section .info-subtitle {
  color: var(--primary-dark);
  font-weight: 600;
}

section .info-title {
  font-size: 1.8rem;
  font-weight: 800;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.button {
  font-family: var(--font);
  color: var(--light);
  background-color: var(--primary);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.hover {
  cursor: pointer;
  transition: filter ease-out 0.3s;
}

.hover:hover {
  filter: brightness(80%);
}

ion-icon {
  display: block;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 3%;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--light);
  z-index: 6;
}

@keyframes vertical-wobble {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slant-wobble {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(5px) translateX(-20px);
  }
  50% {
    transform: translateY(-5px) translateX(20px);
  }
  75% {
    transform: translateY(5px) translateX(-20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes scale-up-down {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
